body { background: #f35044; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 45px; display: flex; }
.block-uploader-0 { color: #7d7c4d; font-size: 17px; margin-bottom: 5px; }
.block-router-1 { color: #e973b6; font-size: 15px; margin-bottom: 5px; }
.block-notify-2 { color: #1e6ea9; font-size: 16px; margin-bottom: 5px; }
.block-logger-3 { color: #275644; font-size: 20px; margin-bottom: 5px; }
.block-sms-4 { color: #6c6c5a; font-size: 13px; margin-bottom: 5px; }
.block-notify-5 { color: #e72799; font-size: 18px; margin-bottom: 5px; }
.block-uploader-6 { color: #d7be96; font-size: 21px; margin-bottom: 5px; }